@import "mixins";

.cupom-extra{
	h3.sucesso{
		margin-bottom: 70px;
	}
	.cupom-numero{
		@include unskewContent;
		font-size: 2em;
		font-family: Louis-BoldItalic;
		text-align: center;
		margin: 0;
	}
	.numeros-cupons{
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.btn-finalizar{
		margin-top: 80px;
	}
}