/* FONTES */
@font-face {
  font-family: Louis-BoldItalic;
  src: url("../fonts/Louis-BoldItalic.eot");
  src: url("../fonts/Louis-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Louis-BoldItalic.woff") format("woff"), url("../fonts/Louis-BoldItalic.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: Louis-Bold;
  src: url("../fonts/Louis-Bold.eot");
  src: url("../fonts/Louis-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Louis-Bold.woff") format("woff"), url("../fonts/Louis-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: Louis-Italic;
  src: url("../fonts/Louis-Italic.eot");
  src: url("../fonts/Louis-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Louis-Italic.woff") format("woff"), url("../fonts/Louis-Italic.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: Louis-Regular;
  src: url("../fonts/Louis-Regular.eot");
  src: url("../fonts/Louis-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Louis-Regular.woff") format("woff"), url("../fonts/Louis-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: Louis-CondensedDemi;
  src: url("../fonts/Louis-CondensedDemi.eot");
  src: url("../fonts/Louis-CondensedDemi.eot?#iefix") format("embedded-opentype"), url("../fonts/Louis-CondensedDemi.woff") format("woff"), url("../fonts/Louis-CondensedDemi.svg#svgFontName") format("svg"); }

@font-face {
  font-family: Louis-CondensedRegular;
  src: url("../fonts/Louis-CondensedRegular.eot");
  src: url("../fonts/Louis-CondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Louis-CondensedRegular.woff") format("woff"), url("../fonts/Louis-CondensedRegular.svg#svgFontName") format("svg"); }

/* line 52, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
html, body {
  height: 100%;
  font-size: 14px; }

/* line 57, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
body {
  background: url("../images/background.jpg") no-repeat center -100px; }

/* line 61, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
header {
  max-height: 80px;
  background: #4a4d52;
  position: relative;
  z-index: 999; }
  /* line 67, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  header .cabecalho {
    position: relative;
    height: 80px; }
    /* line 71, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
    header .cabecalho .logo {
      position: absolute;
      z-index: 9999;
      height: 100%;
      display: flex;
      align-items: center; }
      /* line 79, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
      header .cabecalho .logo img {
        width: 100px;
        display: table; }

/* line 87, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
.main {
  margin-bottom: 50px; }
  /* line 90, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  .main .form-control:focus {
    border-color: transparent;
    outline: none;
    box-shadow: none; }
  /* line 96, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  .main .cadastro {
    margin-top: 50px;
    text-align: center;
    position: relative; }
    /* line 101, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
    .main .cadastro .title {
      position: relative;
      display: inline-block;
      background: #FFFFFF;
      padding: 15px 40px;
      transform: skewX(-30deg); }
      /* line 108, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
      .main .cadastro .title p {
        font-family: Louis-BoldItalic;
        font-size: 2.5em;
        line-height: 1;
        text-transform: uppercase;
        transform: skewX(30deg);
        color: #4a4d52;
        letter-spacing: 1px;
        margin: 0; }
    /* line 119, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
    .main .cadastro .title::after {
      content: '';
      position: absolute;
      top: 0;
      right: -16px;
      bottom: 0;
      background: #FFB334;
      width: 8px; }
    /* line 128, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
    .main .cadastro .carro {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 30px; }
      /* line 133, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
      .main .cadastro .carro img {
        margin-top: 50px;
        margin-right: 35px;
        height: 500px; }
    /* line 140, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
    .main .cadastro .infos {
      font-family: Louis-BoldItalic;
      font-size: 1.2em;
      text-transform: uppercase;
      width: 315px;
      display: inline-block;
      line-height: 1.2em;
      margin: 20px 0; }
      /* line 148, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
      .main .cadastro .infos p {
        margin: 0; }
      /* line 152, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
      .main .cadastro .infos p:first-child {
        color: #686868;
        text-align: left; }
      /* line 156, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
      .main .cadastro .infos p:last-child {
        text-align: right; }
  /* line 162, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  .main .formulario {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)); }
    /* line 165, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
    .main .formulario form {
      margin-top: 50px;
      font-family: Louis-Italic;
      color: #4a4d52;
      text-transform: uppercase;
      padding: 0 20px; }
      /* line 172, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
      .main .formulario form label {
        font-weight: normal; }
      /* line 176, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
      .main .formulario form input, .main .formulario form select, .main .formulario form button {
        border: 0;
        border-radius: 0;
        text-transform: uppercase; }
      /* line 182, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
      .main .formulario form button {
        font-family: Louis-Regular;
        color: #FFFFFF;
        font-size: 1.2em;
        background: linear-gradient(to bottom, #ffc334 50%, #ffb334 50%);
        padding: 8px 0;
        margin-top: 25px;
        position: relative;
        cursor: pointer; }
      /* line 193, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
      .main .formulario form p.text-warning {
        font-size: 0.8em;
        margin-top: 5px; }
      /* line 198, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
      .main .formulario form .text-check label, .main .formulario form p {
        font-size: 0.85em;
        display: inline-block;
        vertical-align: middle; }
        /* line 203, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
        .main .formulario form .text-check label a, .main .formulario form p a {
          color: #4a4d52;
          text-decoration: underline; }
        /* line 207, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
        .main .formulario form .text-check label input[type=checkbox], .main .formulario form .text-check label input[type=radio], .main .formulario form p input[type=checkbox], .main .formulario form p input[type=radio] {
          display: inline-block;
          vertical-align: middle;
          margin: 0 0 0 -20px;
          border: 0;
          background: #fff; }

/* line 220, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
footer {
  background-color: #4a4d52;
  padding: 30px 0; }
  /* line 224, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  footer .redes-sociais {
    position: relative; }
    /* line 226, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
    footer .redes-sociais p {
      text-transform: uppercase;
      font-family: Louis-Italic;
      margin-bottom: 10px;
      font-size: 1em;
      color: #FFFFFF; }
    /* line 234, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
    footer .redes-sociais .social-icon {
      display: flex;
      justify-content: flex-start;
      padding-left: 30px; }
      /* line 239, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
      footer .redes-sociais .social-icon a {
        color: #FFFFFF;
        font-size: 1.8em;
        margin-right: 20px; }
  /* line 247, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  footer .redes-sociais:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-right: 1px solid #FFFFFF; }
  /* line 258, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  footer .infos p {
    font-family: Louis-Regular;
    font-size: 0.8em;
    color: #FFFFFF;
    line-height: 1.6em;
    margin: 0;
    letter-spacing: 0.03em; }
  /* line 270, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  footer .logo img {
    width: 100px; }

@media (max-width: 992px) {
  /* line 280, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  header .cabecalho .logo {
    position: relative;
    justify-content: center; }
  /* line 289, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  .main .cadastro .title {
    margin-bottom: 30px; }
    /* line 291, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
    .main .cadastro .title p {
      font-size: 2em; }
  /* line 295, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  .main .cadastro .carro {
    display: none; }
  /* line 298, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  .main .cadastro .infos {
    display: none; }
  /* line 301, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  .main .cadastro .botao-servicos {
    display: none; }
  /* line 308, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  footer .redes-sociais {
    padding-bottom: 30px; }
    /* line 311, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
    footer .redes-sociais .social-icon a {
      margin-left: 20px;
      font-size: 2em; }
  /* line 318, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  footer .redes-sociais:after {
    border-right: 0;
    border-bottom: 1px solid #FFFFFF;
    right: 15px;
    left: 15px; }
  /* line 325, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  footer .infos {
    margin-bottom: 30px;
    margin-top: 30px; }
  /* line 330, C:/Users/rafae/Google Drive/PROJETO GM/projetogm/sass/style.scss */
  footer .logo {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */